/vendor/
/node_modules/
/public/hot
/public/storage
/public/build/
/storage/app/public/foto/
/storage/framework/
/storage/logs/
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
backup.bat
db_inventaris
null
.DS_Store
Thumbs.db
